section form {
    min-width: 280px;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

.authorization_button {
    margin: 0 90px;
}

.authorization_error::placeholder {
    color: red;
}
.authorization_error{
    border: 3px solid red;
}